.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #00A676;
  font-size: calc(10px + 2vmin);
  color: #F7F9F9;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 7rem;
  background-color: #F7F9F9;
  color: #601700;
  font-size: calc(10px + 2vmin);
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0.7rem;
  box-sizing: border-box;
  line-height: 3rem;
  overflow: hidden;
  overflow-y: auto;
}
.list-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border: #601700 1px solid;

}
.list-item:hover {
  border-color: #F7F9F9;
  border-width: 2px;
}
.updatebutton {
  width: 100%;
  height: 100%;
  background-color: #F7F9F9;
  color: #601700;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  box-sizing: border-box;
  line-height: 3rem;
  border: #601700 1px solid;

}
.deletebutton {
  width: 100%;
  height: 20%;
  background-color: #A76D60;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  box-sizing: border-box;
  border: #601700 1px solid;


}
.editbutton {
  width: 100%;
  height: 20%;
  background-color: #A76D60;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  box-sizing: border-box;
  border: #601700 1px solid;

}
.completebutton {
  width: 100%;
  height: 20%;
  background-color: #A76D60;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem;
  box-sizing: border-box;
  border: #601700 1px solid;

}
ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  list-style: none;
  padding: 3rem;
  margin: 3rem;

  
}

@media screen and (max-width: 768px) {
  ul {
    grid-template-columns: repeat(1, 1fr);
  }
}
.list-item:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px #601700;
}
.list-item:active {
  transform: scale(1.05);
  box-shadow: 0 0 5px #601700;
}